.recommended-products-wrapper {
 
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.recommended-products {
  display: flex;
  flex-direction: row;
  color: #111827;
  justify-content: center;
  align-items: center;
  margin: 50px;
}



.recommended-products h2,h3,p{
  font-family: var(--body-font-family);
text-align: center;
}

.recommended-products h2 {
  font-size: 34px;
  margin: 16px 0 8px;
  font-weight: 100;
}

.recommended-products h3 {
  font-size: 24px;
  margin: 16px 0 8px;
  font-weight: 100;
}

.recommended-products p {
  font-size: 16px;
  line-height: 1.5;
  margin: 16px 0 8px;
}

.recommended-products p a{
  color:#111827;
  text-decoration: underline;
}

.recommended-products .column-img-col.image-block img {
  display: flex;
  align-items: center;
  height: auto;
  width: 120% ;
  max-width: 700px ;
  transform: translateX(-30px);
}

/* Responsive Layout */
@media (min-width: 900px) {
  .recommended-products {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-left: 0; 
      margin-right: 0; 
  }

  .recommended-products > div:first-child {
      flex: 70%;
      
  }

  .recommended-products > div:last-child {
      flex: 30%;
      display: flex;
      align-items: center;
      
  }
  

  .recommended-products .column-img-col.image-block img {
   
    height: 100%;
    width: 75%;
    margin-left: 5rem; 
  }

  .recommended-products .text-block h2 {
    font-size: 42px;
    margin: 0;
  }

  .recommended-products .text-block h3 {
    font-size: 34px;
  }
}


.recommended-products.teaser.block.column-2-cols {
  display: flex;
  flex-direction: column; 
  gap: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.recommended-products.teaser.block.column-2-cols p a{
  color:white;
  text-decoration: underline;
}

.recommended-products.teaser.block.column-2-cols picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.recommended-products.teaser.block.column-2-cols img {
  width: 100%;
  height: auto;
  max-width: 100%;
}


.recommended-products.teaser.block.column-2-cols .text-block {
  background-color: #111827; 
  color: white; 
  text-align: center; 
  width: 100%;
  padding: 20px 20px;
  
}



@media (min-width: 900px) {
  .recommended-products.teaser.block.column-2-cols {
    flex-direction: row; 
    align-items: stretch; 
    justify-content: space-between;
    margin-left: 0; 
    margin-right: 0; 
  }

  
  .recommended-products.teaser.block.column-2-cols > div:first-child {
    flex: 70%; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .recommended-products.teaser.block.column-2-cols picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  
  .recommended-products.teaser.block.column-2-cols img {
    max-width: 100%;
    height: 80%;
  }

 
  .recommended-products.teaser.block.column-2-cols .text-block {
    flex: 30%; 
    background-color: #111827; 
    color: white;
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center; 
    
    height: 500px;
 width: 40%;
 padding: 50px 30px;
 overflow: hidden; 
  }
}
