/* General Styles */
.default-content-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.product-grid {
    display: flex;
    /* Allows wrapping into multiple rows */
    justify-content: space-between; /* Centers items in each row */
    gap: 10px; /* Adjusted gap to fit 5 products per row on desktop */
    padding: 20px;
    font-family: var(--body-font-family);
}

.product-card {
    flex: 1 1 calc(100% - 10px); /* 1 per row on smallest screens */
    max-width: calc(100% - 10px);
    background: #fff;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
  
    display: flex;
    flex-direction: column;
    
    
}

.carousel-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
}


.product-image-wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}



.product-title {
    font-size: 18px;
    margin: 10px 0;
    font-weight: 100;
}

.product-price {
    font-size: 16px;
    font-weight: 100;
    color: #111827;
    text-align: left;
}

.product-actions {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    margin-top: 10px;
}/* Ensures all product titles have the same height */
.product-title {
    font-size: 16px;
    margin: 10px 0;
    
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.add-to-cart, .favorite-btn {
    padding:0 5px 0 5px ;
    border: none;
    cursor: pointer;
    font-size: medium;
    border-radius: 20px;
    transition: background 0.3s;
    justify-content: left;
}

.add-to-cart {
    background: #2954FF;
    color: white;
}

.favorite-btn {
    background: white;
    
    color: #d32f2f;
}

.add-to-cart:hover {
    background: #0056b3;
}

.favorite-btn:hover {
    background: #d32f2f;
    color: white;
}

/* Mobile View (360px and above) - 2 Products per row */
@media (min-width: 360px) {
    .product-card {
        flex: 1 1 calc(50% - 10px);
        max-width: calc(50% - 10px);
    }
}

/* Tablet View (600px and above) - 3 Products per row */
@media (min-width: 600px) {
    .product-card {
        flex: 1 1 calc(33.33% - 10px);
        max-width: calc(33.33% - 10px);
    }
    .product-card.add-to-cart, .favorite-btn {
        padding:0 15px 0 15px ;
}
}

/* Desktop View (900px and above) - 5 Products per row */
@media (min-width: 900px) {
    .product-card {
        flex: 1 1 calc(20% - 10px);
        max-width: calc(20% - 10px);
    }
    .product-card.add-to-cart, .favorite-btn {
        padding:0 15px 0 15px ;
        font-size: small;
}
}

/* Dots Navigation */
.carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.dot.active {
    background: #000;
}